#sp-app {
    width: 100%;
    height: 100%;
}

#sp-header {
    position: relative;
    float: left;
    width: 100%;
    height: 16.83%;
    overflow: auto;
    overflow-y: hidden;
}

#sp-header div {
    position: relative;
    margin: 0 2em 0 0;
    height: 100%;
}

#pcap_dropzone_box {
    float: left;
    vertical-align: left;
    width: 10%;
    background-image: url('../img/logo/sneak_peek.png');
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 0.2em;
}

#pcap-dropzone:hover {
    -moz-box-shadow:    inset 0 0 25px rgba(255,255,255,0.2)
    -webkit-box-shadow: inset 0 0 25px rgba(255,255,255,0.2);
    box-shadow:         inset 0 0 25px rgba(255,255,255,0.2);
    /*background-color: #aa3;*/
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaElEQVQYV12PUQ2AQAxD32SADZCBDmwQbKADGWADZBwpbMvCfW1Z+9ozYABOvrcAG3D73swHiSZg9b0DLsBCIOdeSA3oRZJAx3CKdMgZJA3CZSYw1k6pjMx/pxBkZvnN20kCHStprp0eilwX0w7FFEcAAAAASUVORK5CYII=);
}

#pcap-dropzone {
    width: 100%;
    height: 100%;
    /*background: #eee;   */
}

#pcap-dropzone:hover {
    -moz-box-shadow:    inset 0 0 25px rgba(255,255,255,0.2)
    -webkit-box-shadow: inset 0 0 25px rgba(255,255,255,0.2);
    box-shadow:         inset 0 0 25px rgba(255,255,255,0.2);
    /*background-color: #aa3;*/
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaElEQVQYV12PUQ2AQAxD32SADZCBDmwQbKADGWADZBwpbMvCfW1Z+9ozYABOvrcAG3D73swHiSZg9b0DLsBCIOdeSA3oRZJAx3CKdMgZJA3CZSYw1k6pjMx/pxBkZvnN20kCHStprp0eilwX0w7FFEcAAAAASUVORK5CYII=);
}

#pcap_files_info 
{   
    float: left;
    vertical-align: left;
    width: 40%;
    overflow-y: auto;
}

#global_pcap_info {
    float: left;
    vertical-align: left;
    width: 15%;
    overflow: auto;
}

#local_host_info {
    float: left;
    vertical-align: left;
    width: 15%;
}

#administrative_settings {
    float: left;
    vertical-align: left;
    width: 10%;
    overflow: auto;
    display: none;
}

#search-container {
    float: right;
    /*padding: 2.5em 0 2.5em 0;*/
    top: 36%;
    /*line-height: 50%;*/
    width: auto;
}

#scene-container {
    position: relative;
    float: left;
    width: 100%;
    height: 83.17%;
}

#pcap_file_table {
    font-size: 1em;
    table-layout: fixed;
    border-collapse: collapse;
    width: auto;
}

.sp-table_header {
    font-weight: bold;
    width: 100%;
    display: inline;
}

th {
    text-decoration: underline;
}

thead {
    tr {
        display: inline-block;
        position: fixed;
    }
}

tbody {
    width: 100%;
    height: 100%;
    overflow: auto;
}

td {
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.5em;
}

#feedback { font-size: 1.4em; }
.selectable_pcap_file .ui-selecting { background: #C6E2FF; }
.selectable_pcap_file .ui-selected { background: #6183A6; color: white; }
/*.selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }*/
/*.selectable tr { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }*/
/*
tr:hover {
    background-color: yellow;
}

tr:active {
    background-color: blue;
}*/